.author{
	min-height: 140px;
	margin: 0px 40px 00px 40px;
	max-width: 600px;
	

	.author-bio{
		
		strong{
			font-weight: bold;
			
		}
		
		a{
			text-decoration: none;
			color: #69c;
			
			&:hover{ 
				color: lighten(#69c, 10%);	
			}
		}
		
	}
	
	p{
		margin: 0px;
		text-indent: 0px;
		color: #787878;
	}
	
	h6{
		padding-top: 10px;	
	}
	
	
	.author-picture{
		float:left;
		width: 100px;
		margin-top: 6px;
		img{
			width: 80px;
			border-radius:15px;
			
		}
	}
	
	
}

.profile-header {
	background-position: center center;	
	background-size: cover;
	position: relative;
	min-height: 400px;
	img {
		display: none;
		width: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
	}
	.image-caption {
		background: fade(#000, 60%);
		text-shadow: 0px -1px 0px #000;
		color: #ddd;
		position: absolute;
		bottom: 20px;
		right: 20px;
		padding: 20px;
		max-width: 350px;	
		
		@media all and (max-width: 480px) {
			max-width: 250px;	
		}
		a {
			color: #69c;	
		}
		h1 {
			margin: 0px;
			padding: 0px;
			color: #fff;
			
		}
		
		p {
			font-family: Verdana;
			font-size: 11px;
		}
		
	}
}



.author-profile{
	
	
	p{
		margin:0px;	
	}
	
	.author-picture{
		float:left;
		width: 200px;
		padding: 0px 20px 0px 0px;
		
		
		img{
			width: 100%;
			
		}
		
		
	}
	
	
	.author-bio{
		
		
		padding: 0px;
		
		p{
			text-indent: 0px;
			padding-bottom: 10px;
		}
		
	}
	
}


ul.other-articles-by-author{
	
	li{
		list-style: none;
		padding: 10px 0px;
		strong a{
			text-decoration: none;
			
		}
		
		&:hover{
			background:#fff;
			cursor: pointer;
		}
		
	}
	
	
}
